.chessboard {
  background-color: rgb(0, 0, 0);
  display: grid;
  min-width: 600px;
  min-height: 600px;
  margin: 40px;
  padding: 30px;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

#w4 {
  background-color: rgb(145, 139, 139);
}

#b4 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w3 {
  background-color: rgb(145, 139, 139);
}

#b3 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w1 {
  background-color: rgb(145, 139, 139);
}

#b1 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w2 {
  background-color: rgb(145, 139, 139);
}

#b2 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w5 {
  background-color: rgb(145, 139, 139);
}

#b5 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w6 {
  background-color: rgb(145, 139, 139);
}

#b6 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w7 {
  background-color: rgb(145, 139, 139);
}

#b7 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w8 {
  background-color: rgb(145, 139, 139);
}

#b8 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w9 {
  background-color: rgb(145, 139, 139);
}

#b9 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w10 {
  background-color: rgb(145, 139, 139);
}

#b10 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w11 {
  background-color: rgb(145, 139, 139);
}

#b11 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w12 {
  background-color: rgb(145, 139, 139);
}

#b12 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w13 {
  background-color: rgb(145, 139, 139);
}

#b13 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w14 {
  background-color: rgb(145, 139, 139);
}

#b14 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w15 {
  background-color: rgb(145, 139, 139);
}

#b15 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w16 {
  background-color: rgb(145, 139, 139);
}

#b16 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w17 {
  background-color: rgb(145, 139, 139);
}

#b17 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w18 {
  background-color: rgb(145, 139, 139);
}

#b18 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w19 {
  background-color: rgb(145, 139, 139);
}

#b19 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w20 {
  background-color: rgb(145, 139, 139);
}

#b20 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w21 {
  background-color: rgb(145, 139, 139);
}

#b21 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w22 {
  background-color: rgb(145, 139, 139);
}

#b22 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w23 {
  background-color: rgb(145, 139, 139);
}

#b23 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w24 {
  background-color: rgb(145, 139, 139);
}

#b24 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w25 {
  background-color: rgb(145, 139, 139);
}

#b25 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w26 {
  background-color: rgb(145, 139, 139);
}

#b26 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w27 {
  background-color: rgb(145, 139, 139);
}

#b27 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w28 {
  background-color: rgb(145, 139, 139);
}

#b28 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w29 {
  background-color: rgb(145, 139, 139);
}

#b29 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w30 {
  background-color: rgb(145, 139, 139);
}

#b30 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
#w31 {
  background-color: rgb(145, 139, 139);
}

#b31 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}

#w32 {
  background-color: rgb(145, 139, 139);
}

#b32 {
  background-color: rgb(43, 3, 3);
  color: bisque;
}
